.auth_wrapper {
  max-width: 400px !important;
  max-height: 700px !important;
  padding-top: 30px !important;
  margin: 0 auto !important;

  .auth_content {
    border: 2px solid #dbdbdb !important;
    border-radius: 7px !important;
  }
}