.avatar {
  max-width: 240px !important;
  max-height: 240px !important;
  width: 240px !important;
  height: 240px !important;
  font-size: 5rem !important;
  border: 3px solid #456c7a !important;
}

.change_button {
  font-size: 0.8rem !important;
}