.task_wrapper {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.task_content {
  width: 100% !important;

  &:hover {
  cursor: pointer !important;
  }
}

.static_task {
  border: 1px solid rgba(0, 0, 0, 0.50) !important;
  border-radius: 10px !important;
  align-items: center !important;
  padding: 3px !important;
  box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.3) !important;
  transition: 0.1s !important;

  &:hover {
    cursor: pointer !important;
    border: 1px solid #1A2E33 !important;
    box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.5) !important;
  }
}

